<p>
  <strong>Test:</strong>
  <%= @question.test.title %>
<p>

<p>
  <strong>Body:</strong>
  <%= @question.body %>
</p>

<ol>
  <%= render @question.answers %>
</ol>

<p>
  <%= link_to 'Edit', edit_admin_question_path(@question) %>
  <%= link_to 'Delete',
      admin_question_path(@question),
      method: :delete,
      data: { confirm: 'Are you sure?' } %>
  <%= link_to 'Back', test_path(@question.test) %>
</p>
