<h1><%= t( '.completed', test: @test_passage.test.title)%> </h1>
  <%= render 'test_passages/progress_bar', test_passage: @test_passage%>
<div class="form-group col-12 col-md-3 ml-3 mt-5">
  <div clas="card">
    <% if @test_passage.success? %>
    <div class="card-body border border-success">
       <h6 class='card-title'><%= t('.passed')%></h6>
    </div>
  <% else %>
    <div class="card-body border border-danger">
      <h6 class='card-title' ><%= t('.notpassed')%></h6>
    </div>
  <% end %>

  <h5><strong>
    <%= t('.correct_percent') %> - <%= @test_passage.percent %> %
  </strong></h5>
  <%= link_to t('.back'), tests_path, class: "btn btn-primary" %>
  </div>
</div>
