<h1><%= t( '.completed', test: @test_passage.test.title)%> </h1>
<div class="row justify-content-start">
  <div class="form-group col-12 col-md-3 ml-3">
    <div clas="card">
      <% if @test_passage.success? %>
      <div class="card-body border border-success">
         <h6 class='card-title'><%= t('.passed')%></h6>
      </div>
    <% else %>
      <div class="card-body border border-danger">
        <h6 class='card-title' ><%= t('.notpassed')%></h6>
      </div>
    <% end %>

    <h5><strong>
      <%= t('.correctpercent') %> - <%= @test_passage.percent %> %
    </strong></h5>
    <%= link_to t('.back'), tests_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
