<h1><%= t( '.completed', test: @test_passage.test.title)%> </h1>
<% if @test_passage.success? %>
  <h2 style="color: green"><%= t('.passed')%></h2>
<% else %>
  <h2 style="color: red"><%= t('.notpassed')%></h2>
<% end %>
<p>
  <%= t('.correctpercent') %> - <%= @test_passage.percent %> %
</p>
<%= link_to t('.back'), tests_path %>
