<h1> <%= t('.passind_test', test: @test_passage.test.title) %></h1>
<h3><%= @test_passage.current_question_number%> <%= t('.from')%> <%= t('.questions_counter', count: @test_passage.total_questions )%></h3>

<br>

<div class="form-group row">
    <div class="form-group col-12 col-md-6 ml-3">
			<%= render 'progress_bar', test_passage: @test_passage%>
			<br>
      <div class="card">
        <div class="card-body">
          <%= @test_passage.current_question.body %>
      </div>
    </div>
  </div>

  <div class="form-group col-12 col-md-6 ml-3">
    <%= form_with url: test_passage_path(@test_passage), id:"check-form", local: true, method: :put do |form| %>
      <div class="card">
        <ol class="list-group list-group-flush">
        <%= form.collection_check_boxes :answer_ids, @test_passage.current_question.answers, :id, :body, include_hidden: false do |b| %>
          <li class="list-group-item">
            <%= b.check_box id: "answer_ids_#{b.object.id}", class: "checkbox" %>
            <%= b.label %>
          </li>
        <% end %>
      </ol>
    </div>
  </div>

  <div class="form-group col-12 col-md-6 ml-3">
    <%= link_to 'Create Gist', gist_test_passage_path(@test_passage), method: :post%>
    <%= form.submit t('.next'), class: "btn btn-success d-none", id:"btn" %>
    <% end %>
  </div>
</div>
