<header>
  <nav class='navbar navbar-expand-lg navbar-light bg-light'>
    <% unless current_user&.admin?%>
      <div class='navbar-brand'><%= link_to 'TestGuru', '/'%> </div>
    <%else%>
      <div class='navbar-brand'><%= link_to 'TestGuru', '/'%> </div>
      <div class='navbar-brand'><%= link_to 'TestGuruAdminPanel', admin_tests_path%> </div>
      <div class='navbar-brand'><%= link_to 'Badges', admin_badges_path %> </div>
    <%end%>
    <div class='navbar-nav flex-fill justify-content-end'>
      <% if user_signed_in?%>
        <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "nav-link" %>
        <%= link_to 'Edit', edit_user_registration_path, class: "nav-link"%>
        <%= link_to 'My Badges', user_badges_path, class: 'nav-link' %>
      <%else%>
        <%= link_to 'Login', new_user_session_path, class: "nav-link"%>
        <%= link_to 'Sign up', new_user_registration_path, class: "nav-link"%>
      <%end%>
      <% if user_signed_in? %>
        <span class="navbar-text"> Welcom, <b><%= current_user.first_name %> - <%= current_user.email %></b></span>
        <%= link_to 'Feedback', new_feedback_path, class: "nav-link" %>
      <%end%>
    </div>
  </nav>
</header>
