<p>
  <b><%= t('.question')%>:</b>
  <%= @answer.question.body %>
</p>

<p>
  <b><%= t('.answer')%>:</b>
  <%= @answer.body %>
</p>

<p>
  <b><%= t('.correct')%>:</b>
  <%= @answer.correct %>
</p>

<%= link_to t('.edit'), edit_admin_answer_path(@answer) %>
