<p>
  <strong><%= t('.test') %>:</strong>
  <%= @question.test.title %>
<p>

<p>
  <strong><%= t('.body') %>:</strong>
  <%= @question.body %>
</p>

<h3>Answers</h3>
<%= link_to t('.new_answer'), new_admin_question_answer_path(@question) %>

<ol>
  <%= render @question.answers %>
</ol>

<p>
  <%= link_to t('.edit'), edit_admin_question_path(@question) %>
  <%= link_to t('.delete'),
      admin_question_path(@question),
      method: :delete,
      data: { confirm: t('.are_sure') } %>
  <%= link_to t('.back'), admin_test_path(@question.test) %>
</p>
