<tr>
  <td class="align-middle">
  <%= content_tag :span, test.title, class: 'test-title', data: {test_id: test.id}%>
  <%= render 'form_inline', test: test == @test ? @test : test %>
  </td>
  <td class="align-middle"><%= test_level(test) %></td>
  <td class="align-middle"><%= test.category.title %></td>
  <td class="align-middle"><%= test.user_id %></td>
  <td class="align-middle"><%= test.questions.count %></td>
  <td class="align-middle"><%= test.time_to_pass %>
    <% if test.time_to_pass.present?%>
      <%=t('.time_units')%>
    <% end %>
  </td>
  <td class="align-middle"><%= test.created_at %></td>
  <td class="align-middle"><%= test.updated_at %></td>
  <td class="align-middle"><%= link_to t('.show'), admin_test_path(test) %></td>
  <td class="align-middle">
  <%= link_to t('.edit'),
                edit_admin_test_path(test),
                data: {test_id: test.id},
                class: 'form-inline-link'  %>
  </td>
  <td class="align-middle">
    <%= link_to t('.delete'),
                admin_test_path(test),
                method: :delete,
                data: { confirm: "Are you sure?" } %>
  </td>
</tr>
