<h1><%= t('.header') %></h1>

<p>
  <%= link_to t('.create'), new_admin_test_path %>
</p>

<%= render 'shared/errors', resource: @test %>

<hr>
<div class="row">
  <div class="container col-12 col-md-6 ml-3">
    <table class="table table-hover table-bordered">
    	<thead>
      <tr class="table-success text-center">
        <th class="sort-by-title pointer">
        <%= t('.title') %>
        <%= octicon 'arrow-up', class: 'text-success hide' %>
        <%= octicon 'arrow-down', class: 'text-success hide' %>
        </th>
        <th><%= t('.level') %></th>
        <th><%= t('.category') %></th>
        <th><%= t('.author') %></th>
        <th><%= t('.amount_questions') %></th>
        <th><%= t('.time_to_pass') %></th>
        <th><%= t('.created') %></th>
        <th><%= t('.updated') %></th>
        <th colspan="4"><%= t('.actions') %></th>
      </tr>
    </thead>
    <tbody>
      <%= render @tests%>
    </tbody>
  </table>
  <hr><br>
</div>
</div>
