<h1><%= t('.header') %></h1>

<p>
  <%= link_to t('.create'), new_admin_test_path %>
</p>

<hr>
<table>
  <tr>
    <th><%= t('.title') %></th>
    <th><%= t('.level') %></th>
    <th><%= t('.category') %></th>
    <th><%= t('.author') %></th>
    <th><%= t('.amount_questions') %></th>
    <th><%= t('.created') %></th>
    <th><%= t('.updated') %></th>
    <th colspan="4"><%= t('.actions') %></th>
  </tr>

<%= render @tests %>
<table>
