<h1><%= t('.header')%> </h1>

<p>
  <strong><%= t('.title') %></strong>
   <%= @test.title %>
</p>

<p>
  <strong><%= t('.level')%></strong>
  <%= @test.level %>
</p>

<p>
  <strong><%= t('.category')%></strong>
  <%= @test.category.title %>
</p>

<p>
  <strong><%= t('.time_to_pass')%></strong>
  <%= @test.time_to_pass%>
</p>

<p>
  <strong><%= t('.created')%></strong>
  <%= @test.created_at %>
</p>

<p>
  <strong><%= t('.updated') %></strong>
  <%= @test.updated_at %>
</p>

<strong> <%= @test.questions.count %> - <%= t('.amount_questions')%> </strong>
<table>
  <%= render @test.questions %>

</table>

<br><br>
<%= link_to t('.new_question'), new_admin_test_question_path(@test) %>
<%= link_to t('.edit'), edit_admin_test_path(@test) %>
<%= link_to t('.back'), admin_tests_path%>
