<p>
  <%= link_to 'New question', new_admin_test_question_path(@test) %>
</p>

<p>
  <strong>Title</strong>
  <%= @test.title %>
</p>

<p>
  <strong>Level</strong>
  <%= @test.level %>
</p>

<p>
  <strong>Category</strong>
  <%= @test.category.title %>
</p>

<p>
  <strong>Created at</strong>
  <%= @test.created_at %>
</p>

<p>
  <strong>Updated at</strong>
  <%= @test.updated_at %>
</p>

<strong> <%= @test.questions.count %> вопроса в тесте:</strong>
<table>
  <%= render partial: 'questions/question', collection: @test.questions %>
</table>
<br>
<%= link_to 'Edit', edit_admin_test_path(@test) %>
<%= link_to 'Back', admin_tests_path %>
