<% if test.test_to_pass?%>
<tr class="text-center ">
  <td class="align-middle"><%= test.title %></td>
  <td class="align-middle"><%= test_level(test) %></td>
  <td class="align-middle"><%= test.category.title %></td>
  <td class="align-middle"><%= test.author.first_name %></td>
  <td class="align-middle"><%= test.questions.count %></td>
  <td class="align-middle"><%= test.time_to_pass%>
    <% if test.time_to_pass.present?%>
      <%=t('.time_units')%>
    <% end %>
    </td>
  <td class="align-middle"><%= button_to t('.start'), start_test_path(test), class: "btn btn-success" %></td>
</tr>
<% end %>
