<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="content">
      <div class="content-inside">
        <%= render 'shared/menu' %>
        <%= render 'shared/flash' if !flash.empty? %>
        <%= yield %>
      </div>
    </div>

    <%= link_to 'Home', root_path %>
    <%= render 'shared/footer' %>
  </body>
</html>
